*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
}
body,
h1,
h2,
h3,
p,
figure,
dl,
dd {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font: inherit;
}
img,
svg {
  display: block;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
}
button {
  border: 0;
}
